<div class="mainContainer">
    <div class="appLogo">
        <img src="assets/icons/logo.svg" alt="">
    </div>
    <div class="header marginAuto">
        <div class="items">
            <!-- Profile Info -->
            <div class="infoSection">
                <div class="avatar">
                    <ngx-avatar bgColor="#349CC8" fgColor="white" [size]="50" name="Tayyab Arif" value="75%">
                    </ngx-avatar>
                </div>
                <div class="name marginAuto fontBlack textOverflow">
                    Tayyab Arif
                    <br>
                    <div class="fontMedium textOverflow">UI Developer</div>
                </div>
                <div class="marginAuto">
                    <span class="material-icons dropDownIcon materialIconColor"> keyboard_arrow_down </span>
                </div>
            </div>
            <!-- Seperator -->
            <!-- <div class="seperator"></div> -->
            <!-- Notification -->
            <div class="notification">
                <span  matBadge="5" matBadgeSize="small" class="material-icons materialIconColor">
                    notifications_none </span>
            </div>
            <!-- Seperator -->
            <!-- <div class="seperator"></div> -->
        </div>
    </div>
</div>