<div class="main-container">
    <!-- Header of Card -->
    <div class="header font-black">
        <span>Average Call Length</span>
    </div>
    <!-- Body Of Card -->
    <div class="card-body position-relative">
        <!-- Loader -->
        <div class="position-middle" *ngIf="loading">
            <app-custom-spinner></app-custom-spinner>
        </div>
        <!-- Chart -->
        <div class="card-body">
            <div class="row">
                <canvas id="averageCallLength"></canvas>
            </div>
        </div>
    </div>