<div class="main-container">
    <!-- Header of Card -->
    <div class="header font-black">
        <span>Recorded Calls</span>
    </div>
    <!-- Body Of Card -->
    <div class="card-body">
        <div class="row">
            <div class="info-section">
                <div>
                    <span class="title font-medium">Total Calls Recorded</span>
                </div>
                <div>
                    <span class="value font-black">10,341</span>
                </div>
            </div>
            <div class="chart">
                <canvas id="myChart"></canvas>
                <div class="chart-inner-value">
                    <span class="value font-black">10,341</span>
                </div>
            </div>
        </div>
    </div>
</div>