@import "./style/custom-material.scss";
@import "./style/design-system.scss";

html, body {
	height: 100%;
	margin: auto;
}

body {
	margin: 0;
}


// fonts
.font-black {
  font-family: Lato-Black !important;
}
.font-medium {
  font-family: Lato-Medium !important;
}
.font-light {
  font-family: Lato-Light !important;
}
.font-bold {
  font-family: Lato-Bold !important;
}
.font-regular {
  font-family: Lato-Regular !important;
}

// Removing default properties of button
button{
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
}
// This property will remove border when you click on an input or button
*,*:focus,*:hover{
    outline:none;
}
// It will make avery element an border box element on which padding and margin will work properly
*, *::before, *::after {
    box-sizing: border-box;
}

