<!-- <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
</div> -->

<div class="spinner">
    <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect1"></div>
    <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect2"></div>
    <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect3"></div>
    <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect4"></div>
    <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect5"></div>
</div>